<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Prime - U-Boat</title>
  <meta name="description" content=".....">
  <meta name="keywords" content=".....">
  <meta name="author" content="Aleksandar Vilus | aleksandar.vilus.it.obuka@gmail.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="robots" content="index">
  <link rel="icon" href="http://primetimewatches.net/media/favicon/default/favicon.ico" type="image/x-icon">

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
  <link href="css/mojstil.css" rel="stylesheet">

  <link href="css/mojstil_galerija.css" rel="stylesheet">


</head>

<body>
  <!-- POČETAK OMOTAČA -->
  <div class="container">

    <!-- POČETAK HEDER-A -->
    <div class="page-header">
      <img src="images/primetime/primetime-head-inv.png">
      <h1></h1>
    </div>
    <!-- KRAJ HEDER-A -->

    <!-- OVO JE POCETAK NAVIGACIJE -->
    <nav class="navbar navbar-default" data-spy="affix">
      <!--afix FIKSIRANJE NAVIGACIJE-->
      <h2>Glavna navigacija</h2>
      <div class="container-fluid">

        <!-- POČETAK DELA KOJI KREIRA BURGER -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            PRIME
          </a>
        </div>
        <!-- KRAJ DELA KOJI KREIRA BURGER -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <!-- POČETAK PADAJUĆEG MENIJA -->
            <li class="dropdown">
              <a href="galerija.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">BRENDOVI <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="haemmer.html">HAEMMER</a></li>

                <li><a href="welder.html">WELDER</a></li>

                <li><a href="uboat.html">U-BOAT</a></li>
              </ul>
            </li>
            <!-- KRAJ PADAJUĆEG MENIJA -->

            <li><a href="webshop.html">PRODAVNICA</a></li>
            <li><a href="onama.html">O NAMA / KONTAKT</a></li>
            <li><a href="kontakt.html">LOGIN</a></li>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- KRAJ NAVIGACIJE -->

    <!-- POČETAK NASLOVA STRANE -->
    <div class="page-header">
      <h1><em>U-BOAT</em></h1>

    </div>
    <!-- KRAJ NASLOVA STRANE -->

    <div class="page-header">

      <!-- POČETAK BOKSEVA -->
      <div class="row">
        <div class="col-md-6">
          <img id="HaGe" src="images/primetime/header-uboat-L.jpg" class="img-responsive" alt="Haemmer Germany">
        </div>
        <div class="col-md-6">
          <p>
            Lucca 1942. godina<br>
            Ilvo Fontana, inženjer precizne mehanike dobija prestižan posao za talijansku mornaricu, da osmisli i
            napravi
            sat za talijanske mornaričke pilote. Zahtev je bio da se napravi sat koji zadovoljava visoke standrade
            preciznosti, pouzdanosti, kvaliteta ali i dobre vidljivosti u različitim vremenskim uslovima. Na žalost,
            početak
            drugog svetskog rata je sprečio realizaciju projekta.
          </p>
          <p>
            Lucca 2000. godina<br>
            Italo Fontana, unuk Ilva Fontane je našao skice projekta koji je njegov deda započeo i inspirisan njima
            napravio
            brend satova U-BOAT koji se vrlo brzo pozicionirao veoma visoko u svetu visoko kvalitetnih satova.
          </p>
          <p>
            Beograd 2019. godina<br>
            Primetime našem tržištu nudi U-BOAT satove.
            Pored satova koji su na lageru, moguće je poručiti bilo koji sat iz U-BOAT kolekcije.
          </p>
        </div>
      </div>



      <div class="row">

        <!-- BOČNI SEGMENT KOJI SLUŽI SAMO ZA ODVAJANJE -->
        <div class="col-xs-2 col-md-1">
        </div>

        <!-- GLAVNI SEGMENT -->
        <div class="col-xs-8 col-md-10">

          <!-- POČETAK DELA SA FOTOGRAFIJAMA PROIZVODA -->
          <div class="okvir0">

            <!-- FOTOGRAFIJA 1 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img src="images/uboat/Chimera43mm925.jpg" alt="Chimera 43mm 925">
                </a>
              </div>
              <p>
                <strong>Chimera 43mm 925</strong>
                <br>
                <small>872,300.00 RSD</small>
              </p>
            </div>

            <!-- FOTOGRAFIJA 2 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img src="images/uboat/Chimera43mmBandB.jpg" alt="Chimera 43mm B&B">
                </a>
              </div>
              <p>
                <strong>Chimera 43mm B&B</strong>
                <br>
                <small>847,900.00 RSD</small>
              </p>
            </div>

            <!-- FOTOGRAFIJA 3 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img src="images/uboat/ChimeraChrono43mmBronzeB&B.jpg" alt="Chimera Chrono 43mm Bronze B&B">
                </a>
              </div>
              <p>
                <strong>Chimera Chrono 43mm Bronze B&B</strong>
                <br>
                <small>982,100.00 RSD</small>
              </p>
            </div>

            <!-- FOTOGRAFIJA 4 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img src="images/uboat/Classico42CeramicBK-BKDiamonds.jpg" alt="Classico 42 Ceramic BK-BK Diamonds">
                </a>
              </div>
              <p>
                <strong>Classico 42 Ceramic BK-BK Diamonds</strong>
                <br>
                <small>439,200.00 RSD</small>
              </p>
            </div>

            <!-- FOTOGRAFIJA 5 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img src="images/uboat/Classico53TitaniumIPBChronoU-72BK-BE.jpg"
                    alt="Classico 53 Titanium IPB Chrono U-72 BK-BE">
                </a>
              </div>
              <p>
                <strong>Classico 53 Titanium IPB Chrono U-72 BK-BE</strong>
                <br>
                <small>549,000.00 RSD</small>
              </p>
            </div>

            <!-- FOTOGRAFIJA 6 -->
            <div class="okvir1">
              <div>
                <a href="webshop.html">
                  <img href="webshop.html" src="images/uboat/Flightdeck50CABlackCeramicB-BRDial.jpg"
                    alt="Flightdeck 50 CA Black Ceramic B-BR Dial">
                </a>
              </div>
              <p>
                <strong>Flightdeck 50 CA Black Ceramic B-BR Dial</strong>
                <br>
                <small>616,100.00 RSD</small>
              </p>
            </div>

          </div>
          <!-- KRAJ DELA SA FOTOGRAFIJAMA PROIZVODA -->

        </div>

      </div>


      <!-- KRAJ BOKSEVA -->

    </div>



    <!-- POČETAK FOOTER-A -->
    <footer>
      <div class="row">

        <div class="col-md-12">

          <ul id="SoNet" class="list-inline">
            <li><a href="http://facebook.com/"><i class="fab fa-facebook-f fa-3x"></i></a></li>
            <li><a href="http://instagram.com/"><i class="fab fa-instagram fa-3x"></i></a></li>
            <li><a href="http://twitter.com/"><i class="fab fa-twitter fa-3x"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- kraj gornjeg dela footer-a -->
      <!-- donji deo footer-a -->
      <div class="panel-footer">
        <div class="row">

          <div class="col-md-12">
            <p class="text-right">Copyright &copy; 2019 Aleksandar Vilus &#64; CODE</p>
          </div>
        </div>
      </div>
      <!-- kraj donjeg dela footer-a -->
    </footer>
    <!-- KRAJ FOOTER-A -->
  </div>
  <!-- KRAJ OMOTAČA -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/mojjs.js"></script>

</body>

</html>